FIRECRAWL_API_KEY=your_firecrawl_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_DEFAULT_MODEL=your_openrouter_default_model_here
ANTHROPIC_MODEL=your_anthropic_model_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here
DB_PATH=your_db_path_here
BASE_URL=your_base_url_here
AGENT_MODEL=your_agent_model_here